/* Header*/
.social-list__link {
  color: $secondary-color-text;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-list__link {
  color: white;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__tel {
  color: white;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.button {
  display: block;
  width: 160px;
  height: 40px;
  padding: 12px 23px;
  color: white;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border: 1px solid $accent-color;
  border-radius: 25px;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.header__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.header__hero {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.header__slogan {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.slider__button {
  width: 60px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  background-color: trasparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}
